svg{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

rect.white-key{
  fill: #FFFFF7;
  stroke: #555555;
}

rect.black-key{
  fill: #000000;
  stroke: #979797;
}

#piano-keyboard{
  cursor: pointer;
}
